<!-- Hero Start -->
<section class="bg-half-170 d-table w-100">
  <div class="container">
    <div class="row mt-5 align-items-center">
      <div class="col-lg-6 col-md-7">
        <div class="title-heading">
          <h1 class="heading mb-3">Improve your mental wellness using <span class="text-primary">Happier</span></h1>
          <p class="para-desc text-muted">Happier can help you live better, and find solutions for anxiety or depression with simple tools to help you on your daily life.</p>
          <div class="mt-4">
            <a href="javascript:void(0)" class="btn btn-primary mt-2 me-2" placement="top" ngbTooltip="Maybe soon, who knows?"><i class="uil uil-apple"></i> App Store</a>
            <a href="javascript:void(0)" class="btn btn-outline-primary mt-2" placement="top" ngbTooltip="Maybe soon, who knows?"><i class="uil uil-google-play"></i> Play Store</a>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="text-md-end text-center ms-lg-4">
          <img src="assets/images/app/home.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->
<!--end section-->

<section class="section bg-light">
  <div class="container pb-4 mb-4">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="position-relative">
          <img src="assets/images/company/about.jpg" class="rounded img-fluid mx-auto d-block" alt="">
          <div class="play-icon">
            <a (click)="openWindowCustomClass(content)" href="javascript:void(0);" data-type="youtube"
               data-id="yba7hPeTSjk" class="play-btn">
              <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
            </a>
            <ng-template #content let-modal>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe src="https://player.vimeo.com/video/99025203" height="450" width="780" frameborder="0"
                        allowfullscreen allow="autoplay; encrypted-media"></iframe>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="section-title ms-lg-4">
          <h4 class="title mb-4">Background - Why Happier?</h4>
          <p class="text-muted">In general, mental disorders have increased by four times since the coronavirus pandemic. Therefore, there is a need for a large part of the population to get help following these events.</p>
          <p class="text-muted">More than 5000 scientific papers correspond to research on the psychological impact of the epidemic and containment. <span class="text-primary fw-bold">Happier</span> offers a solution to diagnose states of depression or anxiety with a free application that anyone can access.</p>
          <p class="text-muted">We offer tools to help you better manage your stress, organize your daily life or get a "surface" diagnosis of your mental state. Our app is not intended to replace medical professionals, but serves as an entry point to quick help for anyone.</p>
        </div>
      </div>
      <!--end col-->
    </div>

    <!--end row-->
  </div>



  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-1 mt-4 pt-4 text-center">
        <a href="https://www.cambridge.org/core/journals/irish-journal-of-psychological-medicine/article/mental-health-impacts-of-covid19-in-ireland-and-the-need-for-a-secondary-care-mental-health-service-response/245F1F782304C84F90ECEB9F2EF106AA" target="_blank">
          <img src="assets/images/4waves.png" class="img-fluid rounded" style="width:95%;max-width:800px" alt="">
        </a>
      </div>
      <div class="col-12 text-center">
        <div class="section-title mb-1 pb-1 ">
          <p class="text-muted para-desc mb-0 mx-auto">The four waves of health need associated with the COVID-19 pandemic (University of Colorado)</p>
        </div>
      </div>
      <!--end col-->
    </div>
  </div>


  <!--end container-->
</section>

<!-- Showcase Start -->
<!-- Start Work Detail -->


<!--end section-->
<!-- Showcase End -->

<!-- Features Start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">The Design</h4>
          <p class="text-muted para-desc mb-0 mx-auto">How was <span class="text-primary fw-bold">Happier</span> designed? What did we have to face in the graphic design of the application? What did we research? At first, we considered some points for the interface.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 col-md-8">
        <div class="row mt-4 pt-2">
          <div class="col-md-6 col-12">
            <div class="d-flex features pt-4 pb-4">
              <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                <i-feather name="smartphone" class="fea icon-ex-md text-primary"></i-feather>
              </div>
              <div class="flex-1">
                <h4 class="title">Air out the interface</h4>
                <p class="text-muted para mb-0">Do you feel better in a small room with black walls or white walls? The use of light colors (even white color in abundance) is mandatory.</p>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 col-12">
            <div class="d-flex features pt-4 pb-4">
              <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                <i-feather name="feather" class="fea icon-ex-md text-primary"></i-feather>
              </div>
              <div class="flex-1">
                <h4 class="title">Feather Icons</h4>
                <p class="text-muted para mb-0">Simple and pleasing to the eye rounded icons, we used the free icon pack from Feather, which matched the criteria we chose for our icons.</p>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 col-12">
            <div class="d-flex features pt-4 pb-4">
              <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                <i-feather name="hexagon" class="fea icon-ex-md text-primary"></i-feather>
              </div>
              <div class="flex-1">
                <h4 class="title">Lightweight animations</h4>
                <p class="text-muted para mb-0">Some animations, parallaxes, moving content, can be distressing and cause anxiety to some users. We use them only when necessary.</p>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 col-12">
            <div class="d-flex features pt-4 pb-4">
              <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                <i-feather name="phone" class="fea icon-ex-md text-primary"></i-feather>
              </div>
              <div class="flex-1">
                <h4 class="title">Immediate assistance</h4>
                <p class="text-muted para mb-0">User support is important, especially in the context of our problem. We have therefore added free help numbers (e.g. in case of a user crisis). Also, a callback service within 24 hours can be very effective for a person in distress.</p>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 col-12">
            <div class="d-flex features pt-4 pb-4">
              <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                <i-feather name="clock" class="fea icon-ex-md text-primary"></i-feather>
              </div>
              <div class="flex-1">
                <h4 class="title">No time indications</h4>
                <p class="text-muted para mb-0">Sometimes, signs of "timing" in the application can trigger anxiety in users (especially the time in the status bar). It is important to make them feel that they have all the time they need to perform the actions.</p>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-md-6 col-12">
            <div class="d-flex features pt-4 pb-4">
              <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                <i-feather name="minimize" class="fea icon-ex-md text-primary"></i-feather>
              </div>
              <div class="flex-1">
                <h4 class="title">Less is more</h4>
                <p class="text-muted para mb-0">Does the user really need that button? That information on their screen? How can we simplify his understanding? You have to be careful not to drown the user with content, he could get confused, not understand everything and end up leaving the application.</p>
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-4 col-12 mt-4 pt-2 text-center text-md-end">
        <img src="assets/images/app/feature.png" class="img-fluid" alt="">
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<section class="section pt-0 mt-0" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title">
          <div class="text-center">
            <h4 class="title mb-4">Brand Identity</h4>
            <img src="assets/images/blog/05.jpg" class="img-fluid rounded-md shadow-md" alt="">
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<!-- Feature End -->

<section class="section mt-0 pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h4 class="title">Account & FAQ screens</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <div class="row justify-content-center">

      <div class="col-md-10 mt-4">
        <div class="row">

          <div class="col-md-6 mt-4 pt-2">
            <img src="assets/images/work/account.png" class="img-fluid rounded" alt="work-image">
          </div>

          <div class="col-md-6 mt-4 pt-2">
            <img src="assets/images/work/faq.png" class="img-fluid rounded" alt="">
          </div>
        </div>


      </div>
    </div>
  </div>
</section>


<section class="section mt-0 pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h4 class="title">The Design Process</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <img src="assets/images/work/single.jpg" class="img-fluid rounded" alt="">
      </div>

      <div class="col-md-10 mt-4">
        <div class="bg-light rounded p-4">
          <p class="mb-0">Here is one of the old wireframes designed for <span class="text-primary fw-bold">Happier</span>. At that time, the application was full of buttons and statistics not necessarily useful to the user. We also determined that it was not necessary for the user to be required to register.</p>
        </div>

        <div class="row">

          <div class="col-md-6 mt-4 pt-2">
            <img src="assets/images/work/2.jpg" class="img-fluid rounded" alt="work-image">
          </div>

          <div class="col-md-6 mt-4 pt-2">
            <img src="assets/images/work/3.jpg" class="img-fluid rounded" alt="">
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-6 mt-4 pt-2">
            <div class="card work-details rounded bg-light border-0">
              <div class="card-body">
                <h5 class="card-title border-bottom pb-3 mb-3">Logo Evolution</h5>
                <p>The first Happier logo was in beige and blue. After some design research and adaptations, it has evolved to more neutral colors and more pleasant to the eye for the user.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 pt-2">
            <div class="card work-details rounded bg-light border-0">
              <div class="card-body">
                <h5 class="card-title border-bottom pb-3 mb-3">Design Evolution</h5>
                <p>The basic design was not at all suitable for the users we were aiming at. When we started developing, we had not done any research before. Since then, a brand identity has been developed.</p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<section class="section mt-0 pt-0 mb-2 pb-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h4 class="title">Previous camera-based prototype</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <div class="row justify-content-center">

      <div class="col-md-10 mt-4">
        <div class="row">

          <div class="col-md-6 mt-4 pt-2">
            <img src="assets/images/work/oldboard.png" class="img-fluid rounded" alt="work-image">
          </div>

          <div class="col-md-6 mt-4 pt-2">
            <img src="assets/images/work/camera.png" class="img-fluid rounded" alt="">
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>

<section class="section pt-0 mt-0" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-title">
          <div class="text-center">
          </div>
          <h4 class="my-4">Strategy Change</h4>
          <p class="text-muted">After a certain time, we realized that the use of the camera would not be beneficial in the project, as it is difficult to extract reliable "emotional" data from it. So we removed this feature, which could bring us closer to a "social network" than an application completely focused on mental wellbeing. Finally, we focused on the chatbot by making it capable of giving psychological tests to the user. </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<!--Shape End-->
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-4">How does it work for the user?</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <i class="uil uil-presentation-edit d-block rounded h3 mb-0"></i>
          </div>

          <div class="card-body">
            <h5 class="text-dark">Discussion</h5>
            <p class="text-muted mb-0"><strong>Take part in a discussion</strong> with Hap, he will give you <strong>two psychological tests</strong> to determine your condition</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <i class="uil uil-airplay d-block rounded h3 mb-0"></i>
          </div>

          <div class="card-body">
            <h5 class="text-dark">Approach & objectives</h5>
            <p class="text-muted mb-0">Hap gives you <strong>activities to do</strong>. These can range from simple daily tasks to activities such as meditation or walking</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent d-none-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <i class="uil uil-image-check d-block rounded h3 mb-0"></i>
          </div>

          <div class="card-body">
            <h5 class="text-dark">Reporting</h5>
            <p class="text-muted mb-0"><strong>Two weeks later</strong>, you will have to redo the same previous tests. If there is progress, you can <strong>continue the activities</strong> that Hap gave you. Otherwise, you can be <strong>redirected to a psychologist or a hotline number to call</strong>
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</section>







<section class="section">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mt-1 mb-4 pb-2">
          <h4 class="title mb-4">The Result</h4>
          <p class="text-muted para-desc mb-0 mx-auto">A small showcase of <span
            class="text-primary fw-bold">Happier</span>'s key features & screens.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row justify-content-center">
      <div class=" mt-4 pt-2 text-center">
        <ul ngbNav #nav="ngbNav"
            class="nav-pills nav-justified flex-column flex-sm-row rounded col-lg-8 col-md-12 offset-md-2">
          <li ngbNavItem>
            <a ngbNavLink class="rounded">
              <div class="text-center py-2">
                <h6 class="mb-0">Emotion Board</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <img src="assets/images/app/2.png" class="img-fluid mx-auto d-block" alt="">
                </div>
                <!--end col-->

                <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <div class="section-title text-md-start">
                    <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Your Emotion Bard</h4>
                    <p class="text-muted">Your Emotion Board gives you an overview of your progress. You can find Hap's general indication of your day, as well as articles written by us to fit your situation.</p>
                    <ul class="list-unstyled text-muted">
                      <li class="mb-0"><span class="text-primary h5 me-2"><i
                        class="uil uil-analytics align-middle"></i></span>General view of Hap's analysis</li>
                      <li class="mb-0"><span class="text-primary h5 me-2"><i
                        class="uil uil-book-open align-middle"></i></span>Recommended articles for the user</li>
                    </ul>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink class="rounded">
              <div class="text-center py-2">
                <h6 class="mb-0">Hap Chatbot</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <img src="assets/images/app/3.png" class="img-fluid mx-auto d-block" alt="">
                </div>
                <!--end col-->

                <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <div class="section-title text-md-start">
                    <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Meet Hap, your personal assistant</h4>
                    <p class="text-muted">Hap is designed to help you. It is able to give you the <a href="https://patient.info/doctor/generalised-anxiety-disorder-assessment-gad-7" target="_blank">GAD-7</a> (anxiety) or <a href="https://patient.info/doctor/patient-health-questionnaire-phq-9" target="_blank">PHQ-9</a> (depression) psychological tests. Based on your test scores, he will provide advice and activities to help you get out of this state. Every two weeks, Hap makes you <a href="https://www.tandfonline.com/doi/full/10.1080/16506073.2010.550059" target="_blank">retake</a> these tests to evaluate your progress.</p>
                    <ul class="list-unstyled text-muted">
                      <li class="mb-0"><span class="text-primary h5 me-2"><i
                        class="uil uil-capsule align-middle"></i></span>GAD-7 & PHQ-9 psychological score tests
                      </li>
                      <li class="mb-0"><span class="text-primary h5 me-2"><i
                        class="uil uil-user align-middle"></i></span>Recommendations according to the user</li>
                    </ul>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink class="rounded">
              <div class="text-center py-2">
                <h6 class="mb-0">Objectives List</h6>
              </div>
            </a>
            <ng-template ngbNavContent>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <img src="assets/images/app/4.png" class="img-fluid mx-auto d-block" alt="">
                </div>
                <!--end col-->

                <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <div class="section-title text-md-start">
                    <h4 class="title mb-4"><i class="uil uil-angle-double-right text-primary"></i> Small goals, big changes</h4>
                    <p class="text-muted">Here you will find a list of goals that Hap has given you. They are to be achieved within two weeks, if possible, before taking the first test. It is important to keep in mind that they are not mandatory, it does not matter if they are not done.</p>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="col-12 mt-4 pt-2"></div>
      </div>
    </div>
  </div>
  <!--end container-->
</section>












<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!--end section-->
<section class="section mt-0 pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h4 class="title">Technical Architecture</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <div class="row justify-content-center">

      <div class="col-md-10 mt-4">
        <div class="bg-light rounded p-4">
          <p class="mb-0">For <span class="text-primary fw-bold">Happier</span>, we wanted to use the latest tools, which would allow us to make the application accessible to as many people as possible. So we turned to the Flutter app development toolkit to make the app available on Android, iOS and via web browser.</p>
        </div>



        <div class="row align-items-center">
          <div class="col-lg-6 mt-4 pt-2">
            <div class="card work-details rounded bg-light border-0">
              <div class="card-body">
                <h5 class="card-title border-bottom pb-3 mb-3">Details :</h5>
                <dl class="row mb-0">
                  <dt class="col-md-4 col-5">Platform :</dt>
                  <dd class="col-md-8 col-7 text-muted">Mobile & computer</dd>

                  <dt class="col-md-4 col-5">Framework :</dt>
                  <dd class="col-md-8 col-7 text-muted">Flutter 2.5</dd>

                  <dt class="col-md-4 col-5">Other tools :</dt>
                  <dd class="col-md-8 col-7 text-muted">Dialogflow, Firebase</dd>

                  <dt class="col-md-4 col-5">Repository :</dt>
                  <dd class="col-md-8 col-7 text-muted"><a href="https://github.com/Mathugo/Happier/" target="_blank">GitHub</a></dd>

                  <dt class="col-md-4 col-5">App :</dt>
                  <dd class="col-md-8 col-7 text-muted"><a href="https://app.happier.haudot.com" target="_blank">app.happier.haudot.com</a></dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 pt-2">
            <img src="assets/images/work/6.jpg" class="img-fluid rounded" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Price End -->



<!-- Team Start -->
<section class="section pt-0">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title">Our Team</h4>
          <p class="text-muted para-desc mx-auto mb-0">Meet the team behind <span
            class="text-primary fw-bold">Happier</span>.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex align-items-center">
          <img src="assets/images/client/backman.jpg" class="avatar avatar-medium rounded-circle img-thumbnail" alt="">
          <div class="content ms-3">
            <h5 class="mb-0"><a href="javascript:void(0)" class="text-dark">Pontus Backman</a></h5>
            <small class="position text-muted">Software Developerr</small>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex align-items-center">
          <img src="assets/images/client/math.jpg" class="avatar avatar-medium rounded-circle img-thumbnail" alt="">
          <div class="content ms-3">
            <h5 class="mb-0"><a href="javascript:void(0)" class="text-dark">Hugo Math</a></h5>
            <small class="position text-muted">AI Developer</small>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex align-items-center">
          <img src="assets/images/client/haudot.jpg" class="avatar avatar-medium rounded-circle img-thumbnail" alt="">
          <div class="content ms-3">
            <h5 class="mb-0"><a href="javascript:void(0)" class="text-dark">Nathan Haudot</a></h5>
            <small class="position text-muted">Designer & Developer</small>
          </div>
        </div>
      </div>
      <!--end col-->


      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<!--end section-->
<!-- Testi n Download cta End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-footer">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->


<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
